/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #033a80;
  --bg-color: #ffffff;
  --text-color: #0f0c27;
  --second-bg-color: #f5f5f5;
  --hover: hsl(260, 100%, 51%);
  --navbar-bg: #ebebeb;
  --accent-color: rgb(2, 166, 70);

  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

section {
  padding: 2rem;
}

body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}

.dark-mode {
  --bg-color: #1f242d;
  --text-color: #ffffff;
  --navbar-bg: #23262d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: var(--accent-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 20px 10%;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover {
  color: var(--hover);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.fa-xmark {
  transform: rotate(90deg) scale(1.1);
  transition: 0.3s;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#darkmode-icon {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--text-color);
}

.home {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr;
  align-items: center;
  gap: 2rem;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
}

.home-img img {
  width: 420px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--main-color);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big-font);
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.home-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social {
  display: flex;
  flex-direction: column;
  order: 0;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  margin: 0.5rem 0;
  transition: 0.5s ease;
}

.social a:hover {
  color: var(--bg-color);
  background: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.dark-mode .social a:hover {
  color: var(--main-color);
  background: var(--second-bg-color);
  box-shadow: 0 0 20px var(--second-bg-color);
  border-color: var(--second-bg-color);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #ffffff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 15px var(--main-color);
}

.dark-mode .btn:hover {
  background: var(--second-bg-color);
  box-shadow: 0 0 15px var(--second-bg-color);
  color: var(--main-color);
}

/* .btn-container {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
} */

.about-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.about-img {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
}

.about-img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.about-text {
  flex: 1 1 450px;
  max-width: 600px;
}

.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.information {
  margin: 1rem 0 1.4rem;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .bx {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}

.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}

.html-bar {
  width: 94%;
}

.css-bar {
  width: 84%;
}

.js-bar {
  width: 74%;
}

.react-bar {
  width: 80%;
}

.services-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.services-box {
  flex: 0 1 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}

.services-box:hover {
  background-color: #02225a;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.services-box:hover h3 {
  color: #fff;
}

.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}

.services-box:hover .bx {
  color: var(--accent-color);
}

.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

.services-box:hover a {
  color: #8b8a8f;
}

.services-box:hover i {
  color: #fff;
}

.experience {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.experience h2 {
  font-size: 30px;
}

.experience span {
  font-size: var(--p-font);
  color: var(--accent-color);
}

.experience-container {
  position: relative;
  border-left: 3px solid var(--main-color);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 10% 2rem;
  gap: 3rem;
}

.experience-box {
  position: relative;
}

.experience-box::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  border-radius: 50%;
  left: -39px;
  top: 10px;
  box-shadow: 0 0 10px var(--main-color);
}

.experience-box {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.7s ease;
}

.experience-box.show {
  opacity: 1;
  transform: translateX(0);
}

.experience-box:hover {
  transform: translateY(-5px);
}

.experience-content i {
  font-size: 22px;
  margin-right: 15px;
  vertical-align: middle;
}

.experience-content h3 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.experience-content h4 {
  font-size: 1.1rem;
  color: var(--main-color);
  margin-bottom: 15px;
}

.dark-mode .experience-content h4 {
  color: var(--text-color);
}

.experience-content p {
  font-size: var(--p-font);
  line-height: 1.6;
}

.portfolio-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 1rem;
  align-items: center;
}

.portfolio-card {
  overflow: hidden;
  border-radius: 0.5rem;
}

.portfolio-card img {
  width: 100%;
  /* height: 180px; */
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem 0.5rem;
}

.portfolio-card img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.portfolio-card h3 {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0 1rem;
  margin-top: 1.5rem;
  overflow: hidden;
}

.portfolio-btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.portfolio-btn .btn {
  flex: 1;
  text-align: center;
  padding: 0.8rem 0.2rem;
  font-size: 0.9rem;
  white-space: nowrap;
}

/* .contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}

form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

form textarea {
  resize: none;
  height: 200px;
}

.contact-button {
  width: 160px;
  cursor: pointer;
  background: #2768d9;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}

.contact-button:hover {
  background: var(--hover);
} */

.tech-stacks {
  display: grid;
  place-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-color);
}

.tech-stacks h2 {
  font-size: 1.5rem;
}

.tech-stacks span {
  font-size: var(--p-font);
  color: var(--accent-color);
}

.tech-stacks-software {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 2rem;
}

.tech-stacks-software a img {
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  transition: 0.3s;
}

.tech-stacks-software a img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px var(--main-color));
  -webkit-filter: drop-shadow(0 0 10px var(--main-color));
}

.dark-mode .tech-stacks-software a img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px var(--second-bg-color));
  -webkit-filter: drop-shadow(0 0 10px var(--second-bg-color));
}

.achievements-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.achievement-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 1rem;
}

.achievement-card {
  /* background: var(--second-bg-color); */
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.achievement-card img {
  width: 100%;
  /* height: 200px; */
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem 0.5rem;
  transition: 0.5s ease;
  -webkit-border-radius: 0.5rem 0.5rem;
  -moz-border-radius: 0.5rem 0.5rem;
  -ms-border-radius: 0.5rem 0.5rem;
  -o-border-radius: 0.5rem 0.5rem;
}

.achievement-card:hover img {
  transform: scale(1.1);
  transition: 1s;
}

.achievement-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* height: 100%; */
  height: 290px;
}

.achievement-info h3 {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  overflow: hidden;

  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-clamp: 2;
  box-orient: vertical;
  height: 2.8em;
  box-flex: 1; */
}

.achievement-info h4 {
  color: var(--main-color);
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.dark-mode .achievement-info h4 {
  color: var(--accent-color);
}

.achievement-info p {
  color: var(--text-color);
  opacity: 0.8;
  font-size: var(--p-font);
  flex-grow: 1;
  overflow: hidden;

  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-clamp: 2;
  box-orient: vertical;
  box-flex: 1; */
}

.achievement-info .btn {
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 2rem;
  transition: 0.5s ease;
  padding: 0.7rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}

.copyright a {
  color: var(--accent-color);
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  .home-img img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}

@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }

  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: block;
  }

  #darkmode-icon {
    position: absolute;
    right: 40px;
    margin-right: 1.5rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: var(--navbar-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: all 0.5s ease;
  }

  .navbar.active {
    right: 0;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  .navbar a {
    display: block;
    color: var(--text-color);
  }

  .scroll-down {
    display: none;
  }

  .home {
    grid-template-columns: 0.5fr 3fr;
    margin-top: 15%;
  }

  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }

  .home-img {
    order: initial;
  }

  .home-img img {
    width: 100%;
    height: auto;
    border: 5px solid var(--main-color);
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

  .about-img img {
    height: auto;
    width: 100%;
    max-width: 300px;
  }

  .skills-container {
    grid-template-columns: 1fr;
  }

  .skills-img img {
    padding-left: 0;
  }

  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .contact-form form {
    width: 300px;
  }

  .contact-button {
    margin-left: 25%;
  }
}

@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }

  .home-text span {
    font-size: 1rem;
  }

  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .information .info-box span {
    font-size: 1rem;
  }

  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .contact-form form {
    width: 300px;
  }

  .contact-button {
    margin-left: 25%;
  }
}